$mainBgColor: #f9fafb;
$sideNavBorder: #e1e7ef;

$universalWhite: #ffffff;

$primary500: #2463eb;
$primary900: #0f1729;
$primaryhoverLight: #1d212b1a;

$green500: #21c45d;
$green700: #1a703a;

$grey300: #f3f5f7;
$grey400: #eaedf0;
$grey500: #e1e7ef;
$grey700: #65758b;

$orange500: #f59f0a;

$textPrimary: #0f1729;
$textSecondary: #65758b;
